@inherits LayoutComponentBase

<header>
    <nav class="navbar navbar-expand-lg navbar-dark effect7">
        <div class="container-xxl">
            <a class="navbar-brand col-md-5" href="/">
                <img src="/img/logo.png" height="30" />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item mt-2 mt-lg-0">
                        <NavLink class="nav-link mx-2" href="/movies/auto" Match="NavLinkMatch.All">Projects</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link mx-2" href="/movies/auto" Match="NavLinkMatch.All">Contribute</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link mx-2 fw-bold" href="/movies/auto" Match="NavLinkMatch.All">Get Started</NavLink>
                    </li>
                </ul>
                <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item borderline">
                        <NavLink class="nav-link" href="/log-in" Match="NavLinkMatch.All">Log in</NavLink>
                    </li>
                    </ul>
                <button type="button" class="btn btn-light ms-lg-2">
                    <NavLink class="nav-link text-dark" href="/sign-in" Match="NavLinkMatch.All">Sign-in</NavLink>
                    </button>
            </div>
        </div>
    </nav>
</header>

<main class="container-fluid py-3 background">
    @Body
</main>

<footer class="footer container-fluid py-3">
    <div class="px-3 container-xxl">
        <div class="row row-cols-1 row-cols-lg-3 align-items-center gy-2">
            <div class="col text-center text-lg-start">
                <img src="" height="50"/>
                &copy; 2023 CommunityCodeHub
            </div>
            <div class="col text-center">
                <div><img src="" height="25"/></div>
                <div></div>
            </div>
            <div class="col text-center text-lg-end">
                <a href="https://rb.gy/3d3ov"><i class="socialicons bi bi-youtube"></i></a>
                <a href="https://github.com/CoderFoundry"><i class="socialicons bi bi-github"></i></a>
                <a href="#"><i class="socialicons bi bi-twitter"></i></a>                
            </div>
        </div>
    </div>
</footer>


@code{
    public bool isAsideHidden = true;

    private void ToggleAside()
    {
        isAsideHidden = !isAsideHidden;
        StateHasChanged();
        Console.WriteLine("chuj");
    }
}