@page "/"
@attribute [RenderModeServer]

<PageTitle>Home</PageTitle>
<div class="background">
<h1 class="container-xxl ">Hello, world!</h1>

<p class="container-xxl">Welcome to your new app.</p>
</div>